@font-face {
  font-family: "hp";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/hp.ttf") format('truetype');
}

h1 {
    font-family: "hp";
    font-size: 48pt;
}
h2 {
    font-family: "hp";
    font-size: 24pt;
    text-align: right;
}

p.choice {
    text-align: left;
    background: #eee;
    padding: 1ex 1ex 1ex;
    display: block;
    width: 100%;
    height: 100%;
}

p.choice a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#story {
    padding-bottom: 4em;
}

p.show, p.show a {
    color: #222;
}

p.show b {
    font-family: "hp";
    font-size: 24pt;
}
